In [1]:
import pandas as pd
import numpy as np

In [6]:
cars = pd.read_csv("Cars93.csv")

In [7]:
df = pd.DataFrame(cars)

In [8]:
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,13.2,5,177,102,68,37,26.5,11.0,2705,non-USA
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,18.0,5,195,115,71,38,30.0,15.0,3560,non-USA
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,16.9,5,180,102,67,37,28.0,14.0,3375,non-USA
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,21.1,6,193,106,70,37,31.0,17.0,3405,non-USA
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,21.1,4,186,109,69,39,27.0,13.0,3640,non-USA

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        93 non-null     object
 1   Model               93 non-null     object
 2   Type                93 non-null     object
 3   Min.Price           93 non-null     float64
 4   Price               93 non-null     float64
 5   Max.Price           93 non-null     float64
 6   MPG.city            93 non-null     int64
 7   MPG.highway         93 non-null     int64
 8   AirBags             59 non-null     object
 9   DriveTrain          93 non-null     object
 10  Cylinders           93 non-null     object
 11  EngineSize          93 non-null     float64
 12  Horsepower          93 non-null     int64
 13  RPM                 93 non-null     int64
 14  Rev.per.mile        93 non-null     int64
 15  Man.trans.avail     93 non-null     object
 16  Fuel.tank.capacity  93 non-null     float64
 17  Passengers          93 non-null     int64
 18  Length              93 non-null     int64
 19  Wheelbase           93 non-null     int64
 20  Width               93 non-null     int64
 21  Turn.circle         93 non-null     int64
 22  Rear.seat.room      91 non-null     float64
 23  Luggage.room        82 non-null     float64
 24  Weight              93 non-null     int64
 25  Origin              93 non-null     object
dtypes: float64(7), int64(11), object(8)
memory usage: 19.0+ KB

## Question - 1

#### Assign a type to each of the following features (a) Model, (b) Type, (c) Max. Price and (d) Airbags from the following: ordinal/nominal/ratio/interval scale.

In [2]:
(a) Model - Nominal as this is only a categorical variable
(b) Type - Ordinal/ Nominal as we can categorize as well as rank this variable but the interval is not described
(c) Max. Price - Interval as this we can quantitative number and can differentiate with interval
(d) Airbags - Ratio

SyntaxError: invalid syntax (2092081450.py, line 1)

### Question - 2

In [10]:
from sklearn.impute import SimpleImputer
# Filling missing values

def fillMissingValues(df, strategy = "mean"):

    # Separate numerical and categorical columns
    numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
    categorical_cols = df.select_dtypes(include=['object']).columns

    # Impute numerical columns
    num_imputer = SimpleImputer(strategy=strategy)
    df[numerical_cols] = num_imputer.fit_transform(df[numerical_cols])

     # Impute categorical columns
    cat_imputer = SimpleImputer(strategy='most_frequent')
    df[categorical_cols] = cat_imputer.fit_transform(df[categorical_cols])
    
    return df

## Question - 3

In [11]:
df.describe()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,91.000000,82.000000,93.000000
mean,17.125806,19.509677,21.898925,22.365591,29.086022,2.667742,143.827957,5280.645161,2332.204301,16.664516,5.086022,183.204301,103.946237,69.376344,38.956989,27.829670,13.890244,3072.903226
std,8.746029,9.659430,11.030457,5.619812,5.331726,1.037363,52.374410,596.731690,496.506525,3.279370,1.038979,14.602382,6.819674,3.778986,3.223265,2.989072,2.997967,589.896510
min,6.700000,7.400000,7.900000,15.000000,20.000000,1.000000,55.000000,3800.000000,1320.000000,9.200000,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000
25%,10.800000,12.200000,14.700000,18.000000,26.000000,1.800000,103.000000,4800.000000,1985.000000,14.500000,4.000000,174.000000,98.000000,67.000000,37.000000,26.000000,12.000000,2620.000000
50%,14.700000,17.700000,19.600000,21.000000,28.000000,2.400000,140.000000,5200.000000,2340.000000,16.400000,5.000000,183.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3040.000000
75%,20.300000,23.300000,25.300000,25.000000,31.000000,3.300000,170.000000,5750.000000,2565.000000,18.800000,6.000000,192.000000,110.000000,72.000000,41.000000,30.000000,15.000000,3525.000000
max,45.400000,61.900000,80.000000,46.000000,50.000000,5.700000,300.000000,6500.000000,3755.000000,27.000000,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000

In [12]:
# Reduce noise in data

def reduce_noise(df):

    for col in df.select_dtypes(include=['object']):
        df['col'] = df['col'].str.strip().str.lower()

# Should we also handle the outliers in noise reduction step?

In [14]:
df.duplicated().sum()
# No duplicates, hence not included in noise reduction function

0

### Question - 4

In [ ]:
from sklearn.preprocessing import OneHotEncoder

def encode_categorical_values(df):

    df_encoded = df.copy()
    categorical_cols = df_encoded.select_dtypes(include=['object']).columns.tolist()

    # Initialize the encoder
    encoder = OneHotEncoder(sparse_output = False)

    encoded = encoder.fit_transform(df_encoded[categorical_cols])

    #We use get_feature_names_out() to get the column names for the encoded data
    one_hot_encoded_df = pd.DataFrame(encoded, columns = encoder.get_feature_names_out(categorical_columns))

    # Concatenate the one-hot encoded dataframe with the original dataframe
    df_encoded = pd.concat([df_encoded, one_hot_encoded_df], axis=1)

    # Drop the original categorical columns
    df_encoded = df_encoded.drop(categorical_columns, axis=1)
    return df_encoded

### Question - 5

In [15]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

def normalize(df):
    # creating a copy of the dataset
    df_normalize = df.copy()
    #selecting numerical columns for normalizing
    numerical_col = df.select_dtypes(include=['int64','float64']).columns
    
    scaler = MinMaxScaler()
    # Used MinMaxScaler() for normalizing the numerical column
    df_normalize[numerical_col] = scaler.fit_transform(df_normalize[numerical_col])
    
    return df_normalize

### Question - 6

In [ ]:
from sklearn.model_selection import train_test_split
def split_data(df):
    X = df.drop('Max. Price', axis=1)
    Y = df['Max. Price']

    
    # split out the train set as 70% and test+val set as 30%
    x_train, x_temp, y_train, y_temp = (X, Y, test_size = 0.3, random_state = 42)

    #splitting the test and val set
    x_test, x_val, y_test, y_val = (X, Y, test_size=0.333, random_state=42)

    return x_train, x_test, x_val, y_train, y_test, y_val